@model IEnumerable<Project0._2.Models.Opportunity>

@{
    ViewData["Title"] = "OpportunityList";
}

<h1 class="text-center">Volunteer Opportunities</h1>

<p style="text-align: left;">
    <a asp-action="CreateOpportunity">Create New Opportunity</a>
    <span style="float: right;">
        @Html.DropDownList("OpportunitySort", new List<SelectListItem>
   {
       new SelectListItem {Text = "All", Value = "1", Selected = true},
       new SelectListItem {Text = "Central Park", Value = "2" },
       new SelectListItem {Text = "Central Beach", Value = "3"},
       new SelectListItem {Text = "Central Highway", Value = "4"},
       new SelectListItem {Text = "TLC Elder Home", Value = "5"},
       new SelectListItem {Text = "Lakeside Park", Value = "6"},
   }, "Sort by")
    </span>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Center)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Center)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditOpportunity", new { id=item.id }) |
                @Html.ActionLink("Details", "OpportunityDetails", new { id=item.id }) |
                @Html.ActionLink("Delete", "DeleteOpportunity", new { id=item.id })
            </td>
        </tr>
}
    </tbody>
</table>
<div>
    <a asp-controller="Admin" asp-action="Index">Back to Manager</a>
</div>