@model IEnumerable<Project0._2.Models.Volunteer>

@{
    ViewData["Title"] = "VolunteerList";
}

<h1 class="text-center">Volunteers</h1>

<p>
    <a asp-action="CreateVolunteer">Add New Volunteer</a>
</p>

<form asp-action="Search" method="get">
    <div class="form-actions no-color">
        <p style="text-align: left;">
            Search by Name: <input type="text" name="SearchString" value="@ViewData["searchTerm"]" />
            <input type="submit" value="Search" class="btn btn-primary" />
            <span style="float: right;">
                @Html.DropDownList("VolunteerSort", new List<SelectListItem>
           {
               new SelectListItem {Text = "All", Value = "1", Selected = true},
               new SelectListItem {Text = "Approved", Value = "2" },
               new SelectListItem {Text = "Approved/Pending", Value = "3"},
               new SelectListItem {Text = "Pending", Value = "4"},
               new SelectListItem {Text = "Disapproved", Value = "5"},
               new SelectListItem {Text = "Inactive", Value = "6"},
           }, "Sort by")
            </span>
        </p>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApprovalStatus)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Username)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ApprovalStatus)
                </td>
                <td>
                    @Html.ActionLink("Edit", "EditVolunteer", new { id = item.ID }) |
                    @Html.ActionLink("Details", "VolunteerDetails", new { id = item.ID }) |
                    @Html.ActionLink("Delete", "DeleteVolunteer", new { id = item.ID })
                </td>
            </tr>
        }
    </tbody>
</table>
<div>
    <a asp-controller="Admin" asp-action="Index">Back to Manager</a>
</div>